{% extends "layout.html" %}

{% block title %}
<!-- Title of the page displayed in the browser tab -->
Change Password
{% endblock %}

{% block main %}
<!-- Main content of the page -->
<form action="/change_password" method="post">
    <!-- Input field for entering the username -->
    <div class="mb-3">
        <input required autocomplete="off" autofocus type="text" name="username" placeholder="Username"
            class="form-control mx-auto w-auto">
    </div>
    <!-- Input field for entering the old password -->
    <div class="mb-3">
        <input required autocomplete="off" type="password" name="oldPassword" placeholder="Old Password"
            class="form-control mx-auto w-auto">
    </div>
    <!-- Input field for entering the new password -->
    <div class="mb-3">
        <input required autocomplete="off" type="password" name="newPassword" placeholder="New Password"
            class="form-control mx-auto w-auto">
    </div>
    <!-- Input field for confirming the new password -->
    <div class="mb-3">
        <input required autocomplete="off" type="password" name="confirmation" placeholder="Confirm password"
            class="form-control mx-auto w-auto">
    </div>
    <!-- Button to submit the form for changing the password -->
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
